body {
  background-color: #e6f5ff;
}

.todo__container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  font-family: 'Roboto', sans-serif;
}

.todo__header {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
  font-weight: 700;
}

.todo__form-wrapper {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.todo__form {
  display: flex;
  margin-bottom: 16px;

  .todo__input {
    flex: 1;
    min-height: 30px;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #3498db;
    border-radius: 4px;
    margin-right: 8px;
  }

  .todo__add-button {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
  }
}

.todo__list {
  list-style: none;
  padding: 0;
}

.todo__item {
  min-height: 30px;
  background-color: #f9f9f9;
  padding: 8px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
  border: 1px solid #ddd;

  transition: background-color 0.3s;

  &:hover {
    background-color: #e0e0e0;
  }

  &.completed {
    background-color: #e0e0e0;

    .todo__text {
      text-decoration: line-through;
      opacity: 0.7;
    }
  }

  .todo__text {
    flex: 1;
    margin: 0;
  }

  .todo__icon {
    cursor: pointer;
    margin-right: 8px;
  }

  .todo__check-icon {
    color: green;
  }

  .todo__uncheck-icon {
    color: #3498db;
  }

  .todo__edit-input {
    width: 100%;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .todo__edit-icon,
  .todo__delete-icon {
    cursor: pointer;
    margin-left: 8px; 
    color: #3498db;
  }
  
  .todo__edit-icon:hover,
  .todo__delete-icon:hover {
    color: #e74c3c;
  }
}
